export DOMAIN=""

export CF_API_EMAIL=""
export CF_API_KEY=""

export QB_USERNAME=""
export QB_PASSWORD=""

export SONARR_APIKEY=""
export SONARR_4K_APIKEY=""
export RADARR_APIKEY=""
export RADARR_4K_APIKEY=""

export GRAFANA_PASSWORD=""

export GMAIL_USER=""
export GMAIL_PASSWORD=""

export PUSHOVER_USER_TOKEN=""
export PUSHOVER_API_TOKEN=""

export MINIO_ACCESS_KEY=""
export MINIO_SECRET_KEY=""
export RESTIC_PASSWORD=""

# Home Assistant
export HASS_TOKEN=""
export HASS_API_PASSWORD=""

# NginX BasicAuth
# Use htpasswd to generate the passwords
# htpasswd -nb user password
# make sure to escape any $ characters with a \ character
export NGINX_BASIC_AUTH=""
