export DOMAIN=

export CF_API_EMAIL=
export CF_API_KEY=

#export QB_USERNAME=
#export QB_PASSWORD=

export SONARR_APIKEY=
export SONARR_4K_APIKEY=
export RADARR_APIKEY=
export RADARR_4K_APIKEY=

export PLEXSCAN_KEY=
export PLEX_CLAIM_TOKEN=

export GRAFANA_PASSWORD=

export UPTIMEROBOT_APIKEY=

export GMAIL_USER=
export GMAIL_PASSWORD=

export HASS_DB_PASSWORD=
export HASS_DB_USERNAME=
export HASS_DB_DATABASE=

#export PUSHOVER_USER_TOKEN=
#export PUSHOVER_API_TOKEN=

export MINIO_ACCESS_KEY=
export MINIO_SECRET_KEY=
export RESTIC_PASSWORD=

export MINIO_ACCESS_KEY_BASE64=
export MINIO_SECRET_KEY_BASE64=

export KEYCLOAK_USERNAME=
export KEYCLOAK_PASSWORD=

export AUTH0_CLIENT_ID=
export AUTH0_CLIENT_SECRET=
export OAUTH2_PROXY_COOKIE_SECRET=
export AUTH0_DOMAIN

# NginX BasicAuth
# Use htpasswd to generate the passwords
# htpasswd -nb user password
# make sure to escape any $ characters with a \ character
export NGINX_BASIC_AUTH="USERNAME:\$apr1\$THIS\$EXAMPLE"


# RClone Info
# Don't forget to escape " characters with \
export RCLONE_CLIENT_ID=
export RCLONE_CLIENT_SECRET=
export RCLONE_ACCESS_TOKEN=
export RCLONE_ROOT_FOLDER_ID=
